<div class="container">
  <h1>Administración de contactos</h1>
  <!-- Creacion de la grilla -->
  <div class="row">
    <div class="col-lg-6">
      <form [formGroup]="myform">  <!-- el formulario se llama myform-->
        <p>
          <label>Nombre</label><input type="text" class="form-control" formControlName="fullname" />
        </p>
        <p>
          <label>Telefono</label><input type="number" class="form-control" formControlName="phone" />
        </p>
        <p>
          <label>Correo</label><input type="email" class="form-control" formControlName="email" />
        </p>
        <p><button (click)="alta(myform.value)" class="btn btn-primary mx-1">Agregar</button>
           <button (click)="modificacion(myform.value)" class="btn btn-danger">Modificar</button>
        </p>
      </form>
    </div>

    <div class="col-lg-6">
       <!-- puede colocar una imagen -->
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th class="text-center" colspan="2">Opciones</th>
    </tr>
     <!-- *ngfor permite recorrer el resultado de buscar todos los registros y mostralo en la tabla html -->
    <tr *ngFor="let con of lista_contactos" >
      <td>{{con.id}}</td>
      <td>{{con.fullname}}</td>
      <td>{{con.phone}}</td>
      <td>{{con.email}}</td>
      <td><button class="btn btn-outline-secondary" (click)="seleccionar(con)">Seleccionar</button></td>
      <td><button class="btn btn-outline-danger" (click)="baja(con.id)">Borrar?</button></td>
    </tr>
  </table>
 </div>